<div class="page-hero">


    <header class="page-header    page-header--small-title ">
        <div class="page-header__wrapper page-header__wrapper--tabs">
            <h1 class="page-header__title">Cookies Policy</h1>

        </div>

        <div class="tabs page-header__tab-navigation">
            <nav class="page-header__tabs" data-script="pl_tabs" data-widget="tabbed-content" data-tab-wrap=".tabs"
                data-tab-class="mainTableTab" data-update-tab-param="true">
                <div class="tabs"></div>
            </nav>
        </div>
    </header>
</div>

<section class="ptb-30">
    <div class="container-fluid mi-container">
        <h3 class="mb-3"><b>Cookies Policy</b></h3>
        <hr>
        <p>
            Digital Mythri ("we," "us," or "our") uses cookies and similar tracking technologies to enhance your
            experience on our website, understand how it is used, and improve our services. This Cookies Policy explains
            what cookies are, how we use them, and your choices regarding their use. By continuing to browse our
            website, you agree to our use of cookies in accordance with this policy.
        </p>
        <h3 class="mt-3 mb-3">1. What are Cookies?</h3>
        <p>Cookies are small text files stored on your device (computer, tablet, or mobile) when you visit a website.
            They are widely used to make websites work efficiently, enhance user experiences, and provide information to
            website owners.</p>

        <h3 class="mt-3 mb-3">2. Types of Cookies We Use</h3>
        <p>Digital Mythri uses the following types of cookies:</p>

        <p><b>a) Strictly Necessary Cookies</b></p>
        <div class="def_list">
            <ul>
                <li>These cookies are essential for you to navigate our website and use its features. Without these
                    cookies, certain services or functionalities cannot be provided.</li>
            </ul>
        </div>
        <p><b>b) Performance Cookies</b></p>

        <div class="def_list">
            <ul>
                <li>These cookies collect information about how visitors use our website (e.g., pages visited, time
                    spent on each page). We use this data to improve our website’s performance and user experience.</li>
            </ul>
        </div>
        <p><b>c) Functionality Cookies</b></p>

        <div class="def_list">
            <ul>
                <li>These cookies remember your preferences and enable us to personalize content for you. They may
                    remember details such as your language preference or region.</li>
            </ul>
        </div>

        <p><b>d) Targeting or Advertising Cookies</b></p>

        <div class="def_list">
            <ul>
                <li>These cookies track your browsing habits and help us deliver relevant advertisements and offers
                    based on your interests. They are usually placed by third-party advertising networks.</li>
            </ul>
        </div>
        <p><b>e) Analytics Cookies</b></p>

        <div class="def_list">
            <ul>
                <li>These cookies collect aggregated information to help us understand how our website is used,
                    identify trends, and improve our services.</li>
            </ul>
        </div>
        <h3 class="mt-3 mb-3">3. Third-Party Cookies</h3>
        <p>We may also use cookies provided by trusted third parties, such as Google Analytics, to help us analyze
            website usage and improve our services. Third-party cookies are subject to the privacy policies of the
            respective providers.</p>
        <p>For example:</p>
        <div class="def_list">
            <ul>
                <li><b>Google Analytics:</b> Google Analytics is a web analytics service provided by Google that uses
                    cookies
                    to help us understand how users engage with our website. You can learn more about how Google uses
                    data from cookies at Google's Privacy Policy.</li>
            </ul>
        </div>

        <h3 class="mt-3 mb-3">4. How We Use Cookies</h3>
        <p>We use cookies to:</p>
        <div class="def_list">
            <ul>
                <li>Remember your preferences and settings</li>
                <li>Provide essential functionalities of our website</li>
                <li>Analyze and improve website performance</li>
                <li>Personalize content and advertisements based on your interests</li>
                <li>Gain insights into user interactions with our website and services</li>
            </ul>
        </div>
        <h3 class="mb-3 mt-3">5. Managing and Disabling Cookies</h3>
        <p>Most web browsers allow you to manage or disable cookies through browser settings. However, please note that
            disabling cookies may affect the functionality of our website, and you may not be able to access certain
            parts of it.</p> <br>
        <p>To manage cookies, you can typically go to your browser’s “Settings” or “Preferences” menu. Here are links to
            manage cookies on popular browsers:</p>

        <div class="def_list">
            <ul>
                <li>Google Chrome</li>
                <li>Mozilla Firefox</li>
                <li>Apple Safari</li>
                <li>Microsoft Edge</li>
            </ul>
        </div>


        <h3 class="mb-3 mt-3">6. Changes to Our Cookies Policy</h3>
        <p>We may update our Cookies Policy from time to time to reflect changes in our practices or for other
            operational, legal, or regulatory reasons. Any changes will be posted on this page, and the "Effective Date"
            at the top will be updated accordingly.</p>

    </div>

</section>