<section class="section-top" style="background: #fe0000;  background-size:cover; background-position: center center;">
    <div class="container">
        <div class="col-lg-12 col-sm-12 col-xs-12 text-center">
            <div class="section-top-title">
                <h1>Hosting</h1>
            </div><!-- //.HERO-TEXT -->
        </div><!--- END COL -->
    </div><!--- END CONTAINER -->
</section>
<section class="ptb-30">
    <div class="container-fluid mi-container">
        <div class="row align-items-md-center">
            <div class="col-md-12 text-center section-title">
                <h2 class="font-40 poppins-medium font-primary" style="max-width: 1080px; margin: 0 auto;">
                    Marketing Solutions for Hosting
                </h2>
                <div class="mx-auto font-16" style="max-width: 982px">
                    <p class="font-primary">
                        Understanding the different types of hosting services is crucial in making an informed decision
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="modern-it-services home-page">
                    <ul class="nav nav-pills flex-nowrap" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link font-16 poppins-medium active" id="pills-custom-software-tab"
                                data-bs-toggle="pill" data-bs-target="#pills-custom-software" type="button" role="tab"
                                aria-controls="pills-custom-software" aria-selected="true">Shared Hosting</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link font-16 poppins-medium" id="pills-mobile-app-tab"
                                data-bs-toggle="pill" data-bs-target="#pills-mobile-app" type="button" role="tab"
                                aria-controls="pills-mobile-app" aria-selected="false">VPS Hosting</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link font-16 poppins-medium" id="pills-web-app-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-web-app" type="button" role="tab" aria-controls="pills-web-app"
                                aria-selected="false">Dedicated Servers</button>
                        </li>

                        <li class="nav-item" role="presentation">
                            <button class="nav-link font-16 poppins-medium" id="pills-cloud-app-tab"
                                data-bs-toggle="pill" data-bs-target="#pills-cloud-app" type="button" role="tab"
                                aria-controls="pills-cloud-app" aria-selected="false">Cloud Hosting</button>
                        </li>

                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade active show" id="pills-custom-software" role="tabpanel"
                            aria-labelledby="pills-custom-software-tab">
                            <div class="services-inner  bg-pink">
                                <h3
                                    class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                    <img src="../../../assets/img/icons/demand.png" width="50px" alt="Demand">
                                    Shared Hosting
                                </h3>
                                <p class="font-16 font-primary services-description">
                                    Cost-effective but limited resources, suitable for small websites.
                                </p>
                            </div>

                            <!-- <div class="more-services">
                                <div class="more-services-inner">
                                    <h3><a href=""
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/artificial-intelligence.png"
                                                width="50px" alt="AI">
                                            Website design <i class="icon icon-arrow"></i> </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        From optimizing digital presence to generating content at scale, AI is being
                                        applied everywhere. With the pressing to adopt AI, clients come to us with
                                        projects like, AI chatbot development, AI integration services, NLP solutions,
                                        predictive analytics, etc.
                                    </p>
                                </div>

                                <div class="more-services-inner">
                                    <h3><a href=""
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/ml.png" width="50px" alt="ML">
                                            <img src="../../../assets/img/icons/product-chain.png" width="50px"
                                                alt="Product Development"> Website programming <i
                                                class="icon icon-arrow"></i> </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Businesses need intelligent solutions to do their data-intensive tasks, automate
                                        processes, learn patterns, and a lot to work effectively. Many of our clients
                                        approach us to build AI chatbots, recommendation systems, for feature
                                        engineering, etc.
                                    </p>
                                </div>
                                <div class="more-services-inner">
                                    <h3><a href=""
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/data-science.png" width="50px"
                                                alt="Data_Science"> Custom maps <i class="icon icon-arrow"></i> </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        The increasing need for data-driven business strategies is aiding businesses to
                                        target customers and offer better user experience. Considering that, we help
                                        businesses with data engineering, big data analytics, time series analysis, and
                                        more.
                                    </p>
                                </div>

                                <div class="more-services-inner">
                                    <h3><a href=""
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/product-chain.png" width="50px"
                                                alt="Product Development"> Market Research <i
                                                class="icon icon-arrow"></i> </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Getting everything from discovery and design to development with testing, under
                                        one roof is often convenient. With a proven track record, many top clients of
                                        ours, like KFC, Pigi, AirAsia, and I.AM+, have trusted us with their product
                                        development projects.
                                    </p>
                                </div>

                                <div class="more-services-inner">
                                    <h3><a href=""
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/product-chain.png" width="50px"
                                                alt="Product Development"> Ecommerce websites <i
                                                class="icon icon-arrow"></i> </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Getting everything from discovery and design to development with testing, under
                                        one roof is often convenient. With a proven track record, many top clients of
                                        ours, like KFC, Pigi, AirAsia, and I.AM+, have trusted us with their product
                                        development projects.
                                    </p>
                                </div>
                                <div class="more-services-inner">
                                    <h3><a href=""
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/product-chain.png" width="50px"
                                                alt="Product Development"> Javascript <i class="icon icon-arrow"></i>
                                        </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Getting everything from discovery and design to development with testing, under
                                        one roof is often convenient. With a proven track record, many top clients of
                                        ours, like KFC, Pigi, AirAsia, and I.AM+, have trusted us with their product
                                        development projects.
                                    </p>
                                </div>
                                <div class="more-services-inner">
                                    <h3><a href=""
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/product-chain.png" width="50px"
                                                alt="Product Development"> Logo design <i class="icon icon-arrow"></i>
                                        </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Getting everything from discovery and design to development with testing, under
                                        one roof is often convenient. With a proven track record, many top clients of
                                        ours, like KFC, Pigi, AirAsia, and I.AM+, have trusted us with their product
                                        development projects.
                                    </p>
                                </div>
                                <div class="more-services-inner">
                                    <h3><a href=""
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/product-chain.png" width="50px"
                                                alt="Product Development"> Graphic design <i
                                                class="icon icon-arrow"></i> </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Getting everything from discovery and design to development with testing, under
                                        one roof is often convenient. With a proven track record, many top clients of
                                        ours, like KFC, Pigi, AirAsia, and I.AM+, have trusted us with their product
                                        development projects.
                                    </p>
                                </div>
                                <div class="more-services-inner">
                                    <h3><a href=""
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/product-chain.png" width="50px"
                                                alt="Product Development"> Photos  <i class="icon icon-arrow"></i> </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Getting everything from discovery and design to development with testing, under
                                        one roof is often convenient. With a proven track record, many top clients of
                                        ours, like KFC, Pigi, AirAsia, and I.AM+, have trusted us with their product
                                        development projects.
                                    </p>
                                </div>
                                <div class="more-services-inner">
                                    <h3><a href=""
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/product-chain.png" width="50px"
                                                alt="Product Development"> Video  <i class="icon icon-arrow"></i> </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Getting everything from discovery and design to development with testing, under
                                        one roof is often convenient. With a proven track record, many top clients of
                                        ours, like KFC, Pigi, AirAsia, and I.AM+, have trusted us with their product
                                        development projects.
                                    </p>
                                </div>
                                <div class="more-services-inner">
                                    <h3><a href=""
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/product-chain.png" width="50px"
                                                alt="Product Development"> Messaging  <i class="icon icon-arrow"></i>
                                        </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Getting everything from discovery and design to development with testing, under
                                        one roof is often convenient. With a proven track record, many top clients of
                                        ours, like KFC, Pigi, AirAsia, and I.AM+, have trusted us with their product
                                        development projects.
                                    </p>
                                </div>
                                <div class="more-services-inner">
                                    <h3><a href=""
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/product-chain.png" width="50px"
                                                alt="Product Development"> Naming  <i class="icon icon-arrow"></i> </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Getting everything from discovery and design to development with testing, under
                                        one roof is often convenient. With a proven track record, many top clients of
                                        ours, like KFC, Pigi, AirAsia, and I.AM+, have trusted us with their product
                                        development projects.
                                    </p>
                                </div>

                            </div> -->
                        </div>

                        <div class="tab-pane fade" id="pills-mobile-app" role="tabpanel"
                            aria-labelledby="pills-mobile-app-tab">
                            <div class="services-inner  bg-purple">
                                <h3><a href="/ai-ml-development-services.php"
                                        class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                        <img src="../../../assets/img/icons/automated.png" width="50px"
                                            alt="Automation"> VPS Hosting <i class="icon icon-arrow"></i> </a>
                                </h3>
                                <p class="font-16 font-primary services-description">
                                    Offers more control and resources, ideal for growing businesses.
                                </p>
                            </div>

                        </div>


                        <div class="tab-pane fade" id="pills-web-app" role="tabpanel"
                            aria-labelledby="pills-web-app-tab">
                            <div class="services-inner  bg-green">
                                <h3>
                                    <a href="/digital-transformation-services.php"
                                        class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                        <img src="../../../assets/img/icons/automated.png" width="50px"
                                            alt="Automation"> Dedicated Servers
                                        <i class="icon icon-arrow"></i>
                                    </a>
                                </h3>
                                <p class="font-16 font-primary services-description">
                                    Provides maximum performance and security, perfect for large enterprises.
                                </p>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="pills-cloud-app" role="tabpanel"
                            aria-labelledby="pills-cloud-app-tab">
                            <div class="services-inner  bg-green">
                                <h3>
                                    <a href="/digital-transformation-services.php"
                                        class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                        <img src="../../../assets/img/icons/automated.png" width="50px"
                                            alt="Automation"> Cloud Hosting
                                        <i class="icon icon-arrow"></i>
                                    </a>
                                </h3>
                                <p class="font-16 font-primary services-description">
                                    Offers scalability and flexibility, making it great for businesses with fluctuating
                                    traffic.
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>