<section class="section-top" style="background: #fe0000;  background-size:cover; background-position: center center;">
    <div class="container">
        <div class="col-lg-12 col-sm-12 col-xs-12 text-center">
            <div class="section-top-title">
                <h1>Software Development</h1>
            </div><!-- //.HERO-TEXT -->
        </div><!--- END COL -->
    </div><!--- END CONTAINER -->
</section>
<section class="ptb-30">
    <div class="container-fluid mi-container">
        <div class="row align-items-md-center">
            <div class="col-md-12 text-center section-title">
                <h2 class="font-40 poppins-medium font-primary" style="max-width: 1080px; margin: 0 auto;">
                    Marketing Solutions for Software Development
                </h2>
                <div class="mx-auto font-16" style="max-width: 982px">
                    <p class="font-primary">
                        Digital Mythri builds powerful, tailored software solutions that provide seamless user
                        experiences. Our expert developers use cutting-edge technologies to deliver custom applications
                        that align with your business needs and support growth.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="modern-it-services home-page">
                    <ul class="nav nav-pills flex-nowrap" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link font-16 poppins-medium active" id="pills-custom-software-tab"
                                data-bs-toggle="pill" data-bs-target="#pills-custom-software" type="button" role="tab"
                                aria-controls="pills-custom-software" aria-selected="true">Custom Software
                                Solutions</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link font-16 poppins-medium" id="pills-mobile-app-tab"
                                data-bs-toggle="pill" data-bs-target="#pills-mobile-app" type="button" role="tab"
                                aria-controls="pills-mobile-app" aria-selected="false">Mobile App Development</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link font-16 poppins-medium" id="pills-web-app-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-web-app" type="button" role="tab" aria-controls="pills-web-app"
                                aria-selected="false">Web Application Development</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link font-16 poppins-medium" id="pills-e-commerce-tab"
                                data-bs-toggle="pill" data-bs-target="#pills-e-commerce" type="button" role="tab"
                                aria-controls="pills-e-commerce" aria-selected="false">E-commerce Development</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link font-16 poppins-medium" id="pills-ui-ux-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-ui-ux" type="button" role="tab" aria-controls="pills-ui-ux"
                                aria-selected="false">UX/UI Design Services</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link font-16 poppins-medium" id="pills-api-integration-tab"
                                data-bs-toggle="pill" data-bs-target="#pills-api-integration" type="button" role="tab"
                                aria-controls="pills-api-integration" aria-selected="false">API Integration and Cloud
                                Solutions</button>
                        </li>

                        <li class="nav-item" role="presentation">
                            <button class="nav-link font-16 poppins-medium" id="pills-app-testing-tab"
                                data-bs-toggle="pill" data-bs-target="#pills-app-testing" type="button" role="tab"
                                aria-controls="pills-app-testing" aria-selected="false">API Integration and Cloud
                                Solutions</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link font-16 poppins-medium" id="pills-app-deployment-tab"
                                data-bs-toggle="pill" data-bs-target="#pills-app-deployment" type="button" role="tab"
                                aria-controls="pills-app-deployment" aria-selected="false">API Integration and Cloud
                                Solutions</button>
                        </li>

                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade active show" id="pills-custom-software" role="tabpanel"
                            aria-labelledby="pills-custom-software-tab">
                            <div class="services-inner  bg-pink">
                                <h3
                                    class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                    <img src="../../../assets/img/icons/demand.png" width="40px" alt="Demand">
                                    Custom Software Solutions
                                </h3>
                                <p class="font-16 font-primary services-description">
                                    Every business is unique, and our custom software solutions are crafted to meet your
                                    specific requirements. Our team focuses on:
                                </p>
                            </div>

                            <div class="more-services">
                                <div class="more-services-inner">
                                    <h3><a href=""
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/artificial-intelligence.png"
                                                width="40px" alt="AI">
                                            Tailored Functionality <i class="icon icon-arrow"></i> </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Developing features and integrations that enhance your business operations.
                                    </p>
                                </div>

                                <div class="more-services-inner">
                                    <h3><a href=""
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/ml.png" width="40px" alt="ML">
                                            Scalable Solutions <i class="icon icon-arrow"></i> </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Building software that grows with your business, from initial development to
                                        updates and upgrades.
                                    </p>
                                </div>
                                <div class="more-services-inner">
                                    <h3><a href=""
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/data-science.png" width="40px"
                                                alt="Data_Science"> User-Centric Design <i class="icon icon-arrow"></i>
                                        </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Prioritizing usability to ensure software is intuitive and effective.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="pills-mobile-app" role="tabpanel"
                            aria-labelledby="pills-mobile-app-tab">
                            <div class="services-inner  bg-purple">
                                <h3><a href="/ai-ml-development-services.php"
                                        class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                        <img src="../../../assets/img/icons/automated.png" width="40px"
                                            alt="Automation"> Mobile App Development <i class="icon icon-arrow"></i>
                                    </a>
                                </h3>
                                <p class="font-16 font-primary services-description">
                                    Reach users on the go with mobile applications that offer a seamless, intuitive
                                    experience. We provide:
                                </p>
                            </div>

                            <div class="more-services">
                                <div class="more-services-inner">
                                    <h3><a href="/hire-data-scientist.php"
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/product-chain.png" width="40px"
                                                alt="Product Development"> iOS and Android Development <i
                                                class="icon icon-arrow"></i>
                                        </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Ensuring consistency and functionality across both major platforms.
                                    </p>
                                </div>

                                <div class="more-services-inner">
                                    <h3><a href="/hire-machine-learning-developers.php"
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/product-chain.png" width="40px"
                                                alt="Product Development"> Feature-Rich Interfaces <i
                                                class="icon icon-arrow"></i> </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Prioritizing essential features to keep users engaged.
                                    </p>
                                </div>

                                <div class="more-services-inner">
                                    <h3><a href="/hire-machine-learning-developers.php"
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/product-chain.png" width="40px"
                                                alt="Product Development"> Integration with Backend Systems<i
                                                class="icon icon-arrow"></i> </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Connecting with your existing systems for data consistency and efficiency.
                                    </p>
                                </div>
                            </div>
                        </div>


                        <div class="tab-pane fade" id="pills-web-app" role="tabpanel"
                            aria-labelledby="pills-web-app-tab">
                            <div class="services-inner  bg-green">
                                <h3>
                                    <a href="/digital-transformation-services.php"
                                        class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                        Web Application Development
                                        <i class="icon icon-arrow"></i>
                                    </a>
                                </h3>
                                <p class="font-16 font-primary services-description">
                                    Web apps offer a flexible, accessible solution for users on any device. Our services
                                    include:
                                </p>
                            </div>
                            <div class="more-services">
                                <div class="more-services-inner">
                                    <h3><a href="/full-cycle-product-development.php"
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/product-chain.png" width="40px"
                                                alt="Product Development"> Responsive Design <i
                                                class="icon icon-arrow"></i>
                                        </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Ensuring usability on all screen sizes.
                                    </p>
                                </div>
                                <div class="more-services-inner">
                                    <h3><a href="/ui-ux-design-services.php"
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/product-chain.png" width="40px"
                                                alt="Product Development"> Secure Development <i
                                                class="icon icon-arrow"></i> </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Protecting user data with robust security measures.
                                    </p>
                                </div>
                                <div class="more-services-inner">
                                    <h3><a href="/software-development-services.php"
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/product-chain.png" width="40px"
                                                alt="Product Development"> Custom Features <i
                                                class="icon icon-arrow"></i> </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Building features based on specific user needs for optimal engagement.
                                    </p>
                                </div>

                            </div>
                        </div>

                        <div class="tab-pane fade" id="pills-e-commerce" role="tabpanel"
                            aria-labelledby="pills-e-commerce-tab">
                            <div class="services-inner  bg-light-orenge">
                                <h3><a href="/solutions.php"
                                        class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                        <img src="../../../assets/img/icons/product-chain.png" width="40px"
                                            alt="Product Development"> E-commerce Development <i
                                            class="icon icon-arrow"></i> </a>
                                </h3>
                                <p class="font-16 font-primary services-description">
                                    Our e-commerce solutions help convert visitors into loyal customers:
                                </p>
                            </div>

                            <div class="more-services">
                                <div class="more-services-inner">
                                    <h3><a href="/product-prototyping-services.php"
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/product-chain.png" width="40px"
                                                alt="Product Development"> User-Friendly Design <i
                                                class="icon icon-arrow"></i> </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Providing a smooth shopping experience with intuitive navigation.
                                    </p>
                                </div>

                                <div class="more-services-inner">
                                    <h3><a href="/devops-solutions.php"
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/product-chain.png" width="40px"
                                                alt="Product Development"> Secure Payment Integration <i
                                                class="icon icon-arrow"></i> </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Implementing trusted payment gateways for secure transactions.
                                    </p>
                                </div>

                                <div class="more-services-inner">
                                    <h3><a href="/cloud-computing-solutions.php"
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/product-chain.png" width="40px"
                                                alt="Product Development"> Inventory and Order Management <i
                                                class="icon icon-arrow"></i> </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Developing backend systems that simplify stock and order tracking.
                                    </p>
                                </div>

                            </div>
                        </div>

                        <div class="tab-pane fade" id="pills-ui-ux" role="tabpanel" aria-labelledby="pills-ui-ux-tab">
                            <div class="services-inner bg-blue">
                                <h3><a href="/application-development.php"
                                        class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                        <img src="../../../assets/img/icons/product-chain.png" width="40px"
                                            alt="Product Development"> UX/UI Design Services <i
                                            class="icon icon-arrow"></i> </a>
                                </h3>
                                <p class="font-16 font-primary services-description">
                                    UX/UI design is essential for user satisfaction. Our team focuses on:
                                </p>
                            </div>
                            <div class="more-services">
                                <div class="more-services-inner">
                                    <h3><a href="/web-development.php"
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/product-chain.png" width="40px"
                                                alt="Product Development"> User Research <i class="icon icon-arrow"></i>
                                        </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Understanding your audience to create designs that resonate.
                                    </p>
                                </div>

                                <div class="more-services-inner">

                                    <h3><a href="/mvp-development.php"
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/product-chain.png" width="40px"
                                                alt="Product Development"> Interactive Prototypes <i
                                                class="icon icon-arrow"></i> </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Testing and refining designs before development.
                                    </p>
                                </div>

                                <div class="more-services-inner">
                                    <h3><a href="/mobile-app-development.php"
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/product-chain.png" width="40px"
                                                alt="Product Development"> Consistent Branding <i
                                                class="icon icon-arrow"></i> </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Ensuring that all elements align with your brand’s look and feel.
                                    </p>
                                </div>

                            </div>
                        </div>

                        <div class="tab-pane fade" id="pills-api-integration" role="tabpanel"
                            aria-labelledby="pills-api-integration-tab">
                            <div class="services-inner bg-blue">
                                <h3><a href="/application-development.php"
                                        class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                        <img src="../../../assets/img/icons/product-chain.png" width="40px"
                                            alt="Product Development">API Integration and Cloud
                                        Solutions <i class="icon icon-arrow"></i> </a>
                                </h3>
                                <p class="font-16 font-primary services-description">
                                    Digital Mythri’s API integration and cloud services keep your systems connected:
                                </p>
                            </div>
                            <div class="more-services">
                                <div class="more-services-inner">
                                    <h3><a href="/web-development.php"
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/product-chain.png" width="40px"
                                                alt="Product Development"> Data Synchronization <i
                                                class="icon icon-arrow"></i> </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Ensuring consistency across platforms and devices.
                                    </p>
                                </div>
                                <div class="more-services-inner">
                                    <h3><a href="/web-development.php"
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/product-chain.png" width="40px"
                                                alt="Product Development">Cloud Scalability <i
                                                class="icon icon-arrow"></i> </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Offering resources that grow with your business.
                                    </p>
                                </div>
                                <div class="more-services-inner">
                                    <h3><a href="/web-development.php"
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/product-chain.png" width="40px"
                                                alt="Product Development"> Efficient Operations <i
                                                class="icon icon-arrow"></i> </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Streamlining processes with integrated solutions.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="pills-app-testing" role="tabpanel"
                            aria-labelledby="pills-app-testing-tab">
                            <div class="services-inner bg-blue">
                                <h3><a href="/application-development.php"
                                        class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                        <img src="../../../assets/img/icons/product-chain.png" width="40px"
                                            alt="Product Development">App Testing and Quality Assurance <i
                                            class="icon icon-arrow"></i> </a>
                                </h3>
                                <p class="font-16 font-primary services-description">
                                    Rigorous testing guarantees an optimal user experience:
                                </p>
                            </div>
                            <div class="more-services">
                                <div class="more-services-inner">
                                    <h3><a href="/web-development.php"
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/product-chain.png" width="40px"
                                                alt="Product Development"> Functional Testing <i
                                                class="icon icon-arrow"></i> </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Verifying that each feature works as intended.
                                    </p>
                                </div>

                                <div class="more-services-inner">
                                    <h3><a href="/web-development.php"
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/product-chain.png" width="40px"
                                                alt="Product Development"> Load Testing <i class="icon icon-arrow"></i>
                                        </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Ensuring performance remains consistent under high traffic.
                                    </p>
                                </div>
                                <div class="more-services-inner">
                                    <h3><a href="/web-development.php"
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/product-chain.png" width="40px"
                                                alt="Product Development"> Bug Fixing <i class="icon icon-arrow"></i>
                                        </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Addressing and resolving issues before launch.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="pills-app-deployment" role="tabpanel"
                            aria-labelledby="pills-app-deployment-tab">
                            <div class="services-inner bg-blue">
                                <h3><a href="/application-development.php"
                                        class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                        <img src="../../../assets/img/icons/product-chain.png" width="40px"
                                            alt="Product Development">App Deployment and Launch Support <i
                                            class="icon icon-arrow"></i> </a>
                                </h3>
                                <p class="font-16 font-primary services-description">
                                    We support every step of the launch process:
                                </p>
                            </div>
                            <div class="more-services">
                                <div class="more-services-inner">
                                    <h3><a href="/web-development.php"
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/product-chain.png" width="40px"
                                                alt="Product Development"> Deployment Assistance <i
                                                class="icon icon-arrow"></i> </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Ensuring your app meets guidelines for distribution.
                                    </p>
                                </div>

                                <div class="more-services-inner">
                                    <h3><a href="/web-development.php"
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/product-chain.png" width="40px"
                                                alt="Product Development"> Post-Launch Monitoring <i
                                                class="icon icon-arrow"></i> </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Providing ongoing support for updates and adjustments.
                                    </p>
                                </div>
                                <div class="more-services-inner">
                                    <h3><a href="/web-development.php"
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/product-chain.png" width="40px"
                                                alt="Product Development"> User Feedback Integration <i
                                                class="icon icon-arrow"></i> </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Continuously improving based on real-world use.
                                    </p>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>