<section class="section-top" style="background: #fe0000;  background-size:cover; background-position: center center;">
    <div class="container">
        <div class="col-lg-12 col-sm-12 col-xs-12 text-center">
            <div class="section-top-title">
                <h1>Contact Us</h1>
            </div><!-- //.HERO-TEXT -->
        </div><!--- END COL -->
    </div><!--- END CONTAINER -->
</section>
<div id="contact" class="address_area section-padding"
    style="background-image: url(https://wphtml.com/html/tf/chorbi/assets/img/bg/contact-bg.jpg);  background-size:cover; background-position: center center;">
    <div class="container">

        <div class="row">
            <div class="col-md-8 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s"
                data-wow-offset="0">
                <div class="contact">
                    <form class="form" name="enq" method="post" action="contact.php" onsubmit="return validation();">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <input type="text" name="name" class="form-control" placeholder="Name"
                                    required="required">
                            </div>
                            <div class="form-group col-md-6">
                                <input type="email" name="email" class="form-control" placeholder="Email"
                                    required="required">
                            </div>
                            <div class="form-group col-md-12">
                                <input type="text" name="subject" class="form-control" placeholder="Subject"
                                    required="required">
                            </div>
                            <div class="form-group col-md-12">
                                <textarea rows="6" name="message" class="form-control"
                                    placeholder="Type your message that on your mind..." required="required"></textarea>
                            </div>
                            <div class="col-md-12 text-center">
                                <button type="submit" value="Send message" name="submit" id="submitButton"
                                    class="contact_btn" title="Submit Your Message!">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div><!-- END COL  -->

            <div class="col-md-4 text-center address_mb">
                <div class="wow fadeInUp ptb-30" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
                    <div class="single_address_two">
                        <h4>Phone</h4>
                        <p>+91 (798) 150-7727</p>
                        <!-- <p>+512 513 96324</p> -->
                    </div>
                </div><!--- END COL -->
                <div class="wow fadeInUp ptb-30" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0">
                    <div class="single_address_two">
                        <h4>Email</h4>
                        <p>contact@digitalmythri.com</p>
                        <p>support@digitalmythri.com</p>
                    </div>
                </div><!--- END COL -->
                <div class="wow fadeInUp ptb-30" data-wow-duration="1s" data-wow-delay="0.4s" data-wow-offset="0">
                    <div class="single_address_two">
                        <h4>Office location</h4>
                        <p>139/C,Avanthi Estates, <br> Moti Nagar, Hyderabad, <br> Telangana, India 500018</p>
                    </div>
                </div><!--- END COL -->
            </div><!--- END ROW -->
        </div><!-- END ROW -->
    </div><!--- END CONTAINER -->
</div>