<div class="container-fluid px-md-5 p-3" style="background: #f7f7f7;">
    <div class="row justify-content-between">
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-3 text-center">
                    <a class="navbar-brand" routerLink="tel:+91-798-150-7727"> <i class="fa fa-phone"></i> +91 (798)
                        150-7727</a>

                </div>
                <div class="col-md-3 text-center">
                    <a class="navbar-brand" href="mailto:contact@digitalmythri.com"><i class="fa fa-envelope"></i>
                        contact@digitalmythri.com</a>
                </div>

            </div>

        </div>
        <div class="col-md-3">
            <div class="social-media">
                <p class="mb-0 d-flex">
                    <a href="https://www.facebook.com/profile.php?id=61567457817713" target="_blank"
                        class="d-flex align-items-center justify-content-center"
                        style="background: #3b5998; color: #fff;"><span class="fa fa-facebook"><i
                                class="sr-only">Facebook</i></span></a>
                    <a href="https://x.com/digital_mythri" target="_blank"
                        class="d-flex align-items-center justify-content-center"
                        style="background: #1a90d9; color: #fff;"><span class="fa fa-twitter"><i
                                class="sr-only">Twitter</i></span></a>
                    <a href="https://www.instagram.com/digitalmythri/" target="_blank"
                        class="d-flex align-items-center justify-content-center"
                        style="background: #f09433; 
                    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
                    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
                    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); color: #fff;"><span class="fa fa-instagram"><i
                                class="sr-only">Instagram</i></span></a>
                    <a href="https://www.linkedin.com/in/digital-mythri-2823a8330/" target="_blank"
                        class="d-flex align-items-center justify-content-center"
                        style="background: #0e76a8; color: #fff;"><span class="fa fa-linkedin"><i
                                class="sr-only">Linkedin</i></span></a>

                    <a href="https://in.pinterest.com/digitalmythri405/?actingBusinessId=1117455863699983645"
                        target="_blank" class="d-flex align-items-center justify-content-center"
                        style="background: red; color: #fff;"><span class="fa fa-pinterest"><i
                                class="sr-only">Pinterest</i></span></a>

                    <a href="https://wa.me/916302656982" target="_blank"
                        class="d-flex align-items-center justify-content-center"
                        style="background: #075E54; color: #fff;"><span class="fa fa-whatsapp"><i
                                class="sr-only">WhatsApp</i></span></a>
                </p>
            </div>

        </div>
    </div>
</div>