<section class="section-top" style="background: #fe0000;  background-size:cover; background-position: center center;">
    <div class="container">
        <div class="col-lg-12 col-sm-12 col-xs-12 text-center">
            <div class="section-top-title">
                <h1>About Page</h1>
            </div><!-- //.HERO-TEXT -->
        </div><!--- END COL -->
    </div><!--- END CONTAINER -->
</section>

<!-- <section class="ptb-30">
    <div class="container mi-container">
        <div class="row">
            <div class="col-lg-6 col-sm-12 col-xs-12">
                <div class="">
                    <h2 class="font-40 poppins-medium font-primary mb-3">About <b>Digital Mythri</b></h2>
                    <div class="font-16">
                        <p>
                            <q>Digital Mythri is a forward-thinking digital marketing and software development company
                                dedicated
                                to empowering businesses in the digital space. With a philosophy centered on continuous
                                improvement, innovation, and delivering exceptional value, we help our clients build a
                                robust
                                online presence and achieve sustainable growth.</q>
                        </p>
                    </div>
                </div>

            </div>
            <div class="col-lg-6 col-sm-12 col-xs-12">
                <div class="about-home-two-img mb-5">
                    <img src="https://wphtml.com/html/tf/chorbi/assets/img/about.png" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </div>
</section> -->

<section class="ptb-30">
    <div class="container-fluid mi-container">
        <div class="row">
            <div class="col-lg-6 col-sm-12 col-xs-12">
                <div class="about-home-two-img">
                    <img src="../../../assets/img/about.jpg" class="img-fluid" alt="about">
                </div>
            </div><!--- END COL -->
            <div class="col-lg-6 col-sm-12 col-xs-12">
                <div class="about-home-two">
                    <!-- <h4>Best Digital Agency Based on USA</h4> -->
                    <h1>About <b>Digital Mythri</b></h1>
                    <p class="font-16">
                        <q>Digital Mythri is a forward-thinking digital marketing and software development company
                            dedicated
                            to empowering businesses in the digital space. With a philosophy centered on continuous
                            improvement, innovation, and delivering exceptional value, we help our clients build a
                            robust
                            online presence and achieve sustainable growth.</q>
                    </p>
                </div>
                <div class="about_call_video">
                    <div class="font-16">
                        <p>
                            <b>OUR MISSION:</b> At Digital Mythri, our mission is anchored in an unwavering commitment
                            to excellence and client
                            success. We strive not only to meet but to surpass expectations, delivering unparalleled
                            value
                            that elevates our clients’ businesses. By optimizing profitability, enhancing operational
                            efficiency, and fostering dynamic growth, we empower our clients to flourish and lead in an
                            ever-evolving digital landscape. Their triumph is our ultimate achievement.
                        </p> <br>
                        <p>
                            <b>OUR VISSION:</b> At Digital Mythri, we champion a philosophy of perpetual innovation,
                            relentlessly pushing the
                            boundaries of possibility. We are dedicated to refining our solutions with precision and
                            foresight, ensuring we stay ahead of the curve in a rapidly evolving digital landscape. Our
                            core
                            vision is to empower our clients to craft a powerful and captivating digital presence,
                            unlocking
                            untapped potential and propelling their journey toward enduring success and growth.
                        </p>
                    </div>
                </div>
            </div><!--- END COL -->
        </div><!--- END ROW -->
    </div><!--- END CONTAINER -->
</section>

<section class="feature ptb-30">
    <div class="container-fluid mi-container">
        <div class="section-title text-center wow zoomIn animated" style="visibility: visible;">
            <h2>Why Choose Us</h2>
            <p>Innovative Solutions: We blend creativity with technology to create impactful digital strategies.
                Customer-Centric Approach: Your success is our success. We tailor our services to meet your specific
                goals and challenges.</p>
            <p>Experienced Team: Our experts bring industry-leading insights and experience to every project.</p>
            <p>Proven Results: We focus on delivering tangible, measurable results that drive growth and
                profitability.</p>
        </div>
        <div class="row as_box">
            <div class="col-lg-3 col-sm-6 col-xs-12 no-padding">
                <div class="about_single wow fadeInLeft animated" data-wow-duration="1s" data-wow-delay="0.1s"
                    data-wow-offset="0" style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s;">
                    <img src="../../../assets/img/icons/icon_1.png" alt="">
                    <h4>Expertise and Reliability</h4>
                    <p>With a team of highly skilled professionals, we deliver reliable and proven solutions that meet
                        industry standards and exceed client expectations, ensuring peace of mind and consistent
                        results.</p>
                </div>
            </div><!--- END COL -->
            <div class="col-lg-3 col-sm-6 col-xs-12 no-padding">
                <div class="about_single wow fadeInDown animated" data-wow-duration="1s" data-wow-delay="0.1s"
                    data-wow-offset="0" style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s;">
                    <img src="../../../assets/img/icons/icon_2.png" alt="">
                    <h4>Tailored Solutions</h4>
                    <p>We understand that every business is unique. Our approach is customized to meet each client’s
                        specific needs, allowing for flexible solutions that align with your goals and adapt as you
                        grow.</p>
                </div>
            </div><!--- END COL -->
            <div class="col-lg-3 col-sm-6 col-xs-12 no-padding">
                <div class="about_single wow fadeInRight animated" data-wow-duration="1s" data-wow-delay="0.1s"
                    data-wow-offset="0" style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s;">
                    <img src="../../../assets/img/icons/icon_3.png" alt="">
                    <h4>Innovative Technology</h4>
                    <p>We leverage the latest tools and technologies to enhance efficiency and drive value. Our focus on
                        innovation ensures that our clients stay ahead of the competition with cutting-edge resources
                        and methods.</p>
                </div>
            </div><!--- END COL -->
            <div class="col-lg-3 col-sm-6 col-xs-12 no-padding">
                <div class="about_single wow fadeInRight animated" data-wow-duration="1s" data-wow-delay="0.1s"
                    data-wow-offset="0" style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s;">
                    <img src="../../../assets/img/icons/icon_4.png" alt="">
                    <h4>Exceptional Customer Support</h4>
                    <p>Our dedicated support team is available around the clock to address any concerns or questions,
                        ensuring a smooth and seamless experience for our clients at every stage.</p>
                </div>
            </div>
        </div><!--- END ROW -->
    </div><!--- END CONTAINER -->
</section>