<!-- START FOOTER -->
<div class="footer">
    <div class="container-fluid mi-container">
        <div class="row">
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="footer_logo">
                    <img src="../../../assets/img/logo 160x65 --01 white-01.svg" alt="" />
                    <p>Growing your company: People do have heard this term of ‘going digital’ and yes in the era that
                        we live now, with all those massive influxes of technology everywhere businesses will need to be
                        digitally transformed.</p>
                </div>
                <div class="social_profile">
                    <ul>
                        <li><a href="https://www.facebook.com/profile.php?id=61567457817713" target="_blank"
                                class="f_facebook"><i class="fa fa-facebook" title="Facebook"></i></a></li>
                        <li><a href="https://x.com/PrudhviRaj405" target="_blank" class="f_twitter"><i
                                    class="fa fa-twitter" title="Twitter"></i></a></li>
                        <li><a href="https://www.instagram.com/prudhvirajnatta/" target="_blank" class="f_instagram"><i
                                    class="fa fa-instagram" title="Instagram"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/prudhviraj-natta-2823a8330/" target="_blank"
                                class="f_linkedin"><i class="fa fa-linkedin" title="LinkedIn"></i></a></li>
                        <li><a href="https://pin.it/4k5ay9JYF" target="_blank" class="f_pinterest"><i
                                    class="fa fa-pinterest" title="Pinterest"></i></a></li>

                    </ul>
                </div>
            </div><!--- END COL -->
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="single_footer single_footer_top_one">
                    <h4>Frequently Asked Questions</h4>
                    <ul>
                        <li><a href="#">Privacy & Security</a></li>
                        <li><a href="#">Terms of Service</a></li>
                        <li><a href="#">Communications</a></li>
                        <li><a href="#">Referral Terms</a></li>
                        <li><a href="#">Disclaimers</a></li>
                    </ul>
                </div>
            </div><!--- END COL -->
            <div class="col-lg-3 col-sm-6 col-xs-1">
                <div class="single_footer single_footer_top">
                    <h4>Industries</h4>
                    <ul>
                        <li><a routerLink="/real-estate">Real Estate</a></li>
                        <li><a routerLink="/education">Education</a></li>
                        <li><a routerLink="/beauty&wellness">Beauty & Wellness</a></li>
                        <li><a routerLink="/healthcare">Health Care </a></li>
                        <li><a routerLink="/tourism&hospitality">Tours & Travel and Hospitality</a></li>
                        <li><a routerLink="/finance&fintech">Finance and Fintech </a></li>
                        <li><a routerLink="/e-commerce">E-commerce </a></li>
                        <li><a routerLink="/jewellery">Jewellery and Gift Articles </a></li>
                        <li><a routerLink="/FMCG">FMCG </a></li>
                        <li><a routerLink="/tech-startup">Tech Start-ups </a></li>
                    </ul>
                </div>
            </div><!--- END COL -->
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="newsletter-form">
                    <h4>Subscribe For Updates</h4>
                    <form class="subscribe">
                        <input type="text" class="subscribe__input" placeholder="Email Address">
                        <button type="button" class="subs_btn">Subscribe</button>
                    </form>
                </div>
            </div><!--- END COL -->
        </div><!--- END ROW -->
        <div class="row footer_copyright">
            <div class="col-md-6">
                <div class="">
                    <p>&copy; 2024 Digital Mythri. All Rights Reserved.</p>
                </div>
            </div>
            <div class="col-md-6 text-right">
                <ul class="footer_menu_list">
                    <li><a routerLink="/privacy&policy">Privacy Policy</a></li>
                    <li><a routerLink="/cookie&policy">Cookie Policy</a></li>
                    <li><a routerLink="/terms&conditions">Terms & Conditions</a></li>
                </ul>
            </div>
        </div>
    </div><!--- END CONTAINER -->
</div>
<!-- END FOOTER -->