<section class="section-top" style="background: #fe0000;  background-size:cover; background-position: center center;">
    <div class="container">
        <div class="col-lg-12 col-sm-12 col-xs-12 text-center">
            <div class="section-top-title">
                <h1>Digital Marketing</h1>
            </div><!-- //.HERO-TEXT -->
        </div><!--- END COL -->
    </div><!--- END CONTAINER -->
</section>

<section class="ptb-30">
    <div class="container-fluid mi-container">
        <div class="row align-items-md-center">
            <div class="col-md-12 text-center section-title">
                <h2 class="font-40 poppins-medium font-primary" style="max-width: 1080px; margin: 0 auto;">
                    Marketing Solutions for Digital Merketing
                </h2>
                <div class="mx-auto font-16" style="max-width: 982px">
                    <p class="font-primary">
                        In the ever-evolving digital world, effective marketing strategies are the backbone of growth.
                        Digital Mythri's digital marketing solutions blend advanced strategies with actionable insights,
                        helping you connect with your target audience, increase brand visibility, and achieve your
                        business goals.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="modern-it-services home-page">
                    <ul class="nav nav-pills flex-nowrap" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link font-16 poppins-medium active" id="pills-trending-tab"
                                data-bs-toggle="pill" data-bs-target="#pills-trending" type="button" role="tab"
                                aria-controls="pills-trending" aria-selected="true">Search Engine Optimization
                                (SEO)</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link font-16 poppins-medium" id="pills-data-ai-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-data-ai" type="button" role="tab" aria-controls="pills-data-ai"
                                aria-selected="false">Social Media Marketing & Management</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link font-16 poppins-medium" id="pills-digital-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-digital" type="button" role="tab" aria-controls="pills-digital"
                                aria-selected="false">Pay-Per-Click (PPC) Advertising</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link font-16 poppins-medium" id="pills-content_marketing-tab"
                                data-bs-toggle="pill" data-bs-target="#pills-content_marketing" type="button" role="tab"
                                aria-controls="pills-content_marketing" aria-selected="false">Content Marketing &
                                Strategy</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link font-16 poppins-medium" id="pills-email-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-email" type="button" role="tab" aria-controls="pills-email"
                                aria-selected="false">Email Marketing Campaigns</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link font-16 poppins-medium" id="pills-marketing-tab"
                                data-bs-toggle="pill" data-bs-target="#pills-marketing" type="button" role="tab"
                                aria-controls="pills-marketing" aria-selected="false">Marketing Automation</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link font-16 poppins-medium" id="pills-on-page-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-on-page" type="button" role="tab" aria-controls="pills-on-page"
                                aria-selected="false">ON-Page & OFF-Page
                                Optimization</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link font-16 poppins-medium" id="pills-analytics-tab"
                                data-bs-toggle="pill" data-bs-target="#pills-analytics" type="button" role="tab"
                                aria-controls="pills-analytics" aria-selected="false">Analytics and Performance
                                Tracking</button>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade active show" id="pills-trending" role="tabpanel"
                            aria-labelledby="pills-trending-tab">
                            <div class="services-inner  bg-pink">
                                <h3
                                    class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                    <img src="../../../assets/img/icons/demand.png" width="40px" alt="Demand">
                                    Search Engine Optimization
                                </h3>
                                <p class="font-16 font-primary services-description">
                                    Our SEO strategies go far beyond basic keyword usage. Through in-depth research and
                                    analysis, we optimize your website from the ground up to increase visibility,
                                    ranking, and organic reach. Our approach focuses on:
                                </p>
                            </div>

                            <div class="more-services">
                                <div class="more-services-inner">
                                    <h3><a href=""
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/artificial-intelligence.png"
                                                width="40px" alt="AI">
                                            Technical SEO <i class="icon icon-arrow"></i> </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Ensuring your website is structurally sound, with fast loading times, mobile
                                        responsiveness, and secure browsing.
                                    </p>
                                </div>

                                <div class="more-services-inner">
                                    <h3><a href=""
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/ml.png" width="40px" alt="ML">
                                            Content-Driven Optimization <i class="icon icon-arrow"></i> </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Developing content that meets user needs while aligning with search engine
                                        algorithms, attracting visitors who are genuinely interested in what you offer.
                                    </p>
                                </div>
                                <div class="more-services-inner">
                                    <h3><a href=""
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/data-science.png" width="40px"
                                                alt="Data_Science"> Local and International SEO <i
                                                class="icon icon-arrow"></i>
                                        </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Targeting your market whether local or global, ensuring you reach the right
                                        audience based on location and intent.
                                    </p>
                                </div>

                                <!-- <div class="more-services-inner">
                                    <h3><a href=""
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/product-chain.png" width="40px"
                                                alt="Product Development"> Off-Page Optimization <i
                                                class="icon icon-arrow"></i> </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Strategies like high-quality link building and social media marketing to improve
                                        overall site authority.
                                    </p>
                                </div> -->

                            </div>
                        </div>

                        <div class="tab-pane fade" id="pills-data-ai" role="tabpanel"
                            aria-labelledby="pills-data-ai-tab">
                            <div class="services-inner  bg-purple">
                                <h3><a href="/ai-ml-development-services.php"
                                        class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                        <img src="../../../assets/img/icons/automated.png" width="40px"
                                            alt="Automation">Social Media Marketing & Management <i
                                            class="icon icon-arrow"></i>
                                    </a>
                                </h3>
                                <div class="font-16 font-primary services-description">
                                    <p>Social media is a powerful tool to engage audiences and build loyalty. We help
                                        you connect with customers on platforms where they’re most active. Our services
                                        include:</p>
                                </div>
                            </div>

                            <div class="more-services">
                                <div class="more-services-inner">
                                    <h3><a href="/hire-data-scientist.php"
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/product-chain.png" width="40px"
                                                alt="Product Development">Strategy Development<i
                                                class="icon icon-arrow"></i> </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Creating a roadmap for consistent, engaging content that aligns with your brand
                                        voice.
                                    </p>
                                </div>

                                <div class="more-services-inner">
                                    <h3><a href="/hire-machine-learning-developers.php"
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/product-chain.png" width="40px"
                                                alt="Product Development">Community Engagement <i
                                                class="icon icon-arrow"></i> </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Engaging with followers through comments, messages, and shares to foster
                                        loyalty.
                                    </p>
                                </div>
                                <div class="more-services-inner">
                                    <h3><a href="/hire-machine-learning-developers.php"
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/product-chain.png" width="40px"
                                                alt="Product Development">Paid Social Ads <i
                                                class="icon icon-arrow"></i> </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Amplifying reach through targeted ads on platforms like Facebook, Instagram, and
                                        LinkedIn to maximize return on ad spend (ROAS).
                                    </p>
                                </div>
                                <!-- <div class="more-services-inner">
                                    <h3><a href="/hire-machine-learning-developers.php"
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/product-chain.png" width="40px"
                                                alt="Product Development"> Pay-Per-Click (PPC) <i
                                                class="icon icon-arrow"></i> </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        A Strategic way to drive high-quality traffic, boost brand visibility, and
                                        increase conversions quickly and efficiently. With PPC, we can ensure your ads
                                        are shown to the most relevant audience segments based on factors like location,
                                        interests, and search intent. This precise targeting helps you connect directly
                                        with potential customers looking for your services.
                                    </p>
                                </div> -->

                            </div>
                        </div>


                        <div class="tab-pane fade" id="pills-digital" role="tabpanel"
                            aria-labelledby="pills-digital-tab">
                            <div class="services-inner  bg-green">
                                <h3>
                                    <a href="/digital-transformation-services.php"
                                        class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                        Pay-Per-Click (PPC)
                                        <i class="icon icon-arrow"></i>
                                    </a>
                                </h3>
                                <p class="font-16 font-primary services-description">
                                    Email continues to be one of the most high-converting sources for lead-generation
                                    and customer retention. Email Marketing Our email marketing services are built to
                                    help you design beautiful, personalized value-driven campaigns that keep your
                                    audience coming back for more.
                                </p>
                            </div>
                            <div class="more-services">
                                <div class="more-services-inner">
                                    <h3><a href="/full-cycle-product-development.php"
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/product-chain.png" width="40px"
                                                alt="Product Development"> Because A better targeted campaign =
                                            Successful Campaigns. <i class="icon icon-arrow"></i> </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        You segment the list and we will send messages at right time to a relevant
                                        audience.
                                    </p>
                                </div>
                                <div class="more-services-inner">
                                    <h3><a href="/ui-ux-design-services.php"
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/product-chain.png" width="40px"
                                                alt="Product Development"> Custom Content <i
                                                class="icon icon-arrow"></i> </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        We create email templates and content that talks directly to the appetite of
                                        your subscriber.
                                    </p>
                                </div>
                                <div class="more-services-inner">
                                    <h3><a href="/software-development-services.php"
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/product-chain.png" width="40px"
                                                alt="Product Development"> Performance Reporting <i
                                                class="icon icon-arrow"></i> </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        We Monitor Open Results, Click Through Rates and Conversions to Improve the
                                        Success of Your Campaigns
                                        Our email marketing keeps your brand in the forefront of their minds and
                                        frequenting for repeat business over a lifetime.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="pills-content_marketing" role="tabpanel"
                            aria-labelledby="pills-solutions-tab">
                            <div class="services-inner  bg-light-orenge">
                                <h3><a href="/solutions.php"
                                        class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                        Content Marketing & Strategy <i class="icon icon-arrow"></i> </a>
                                </h3>
                                <p class="font-16 font-primary services-description">
                                    Content is at the heart of digital interaction. We develop content that educates,
                                    entertains, and converts. Key aspects include:
                                </p>
                            </div>

                            <div class="more-services">
                                <div class="more-services-inner">
                                    <h3><a href="/product-prototyping-services.php"
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/product-chain.png" width="40px"
                                                alt="Product Development">Blogging and Article Creation <i
                                                class="icon icon-arrow"></i> </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Establishing your business as an industry thought leader.
                                    </p>
                                </div>

                                <div class="more-services-inner">
                                    <h3><a href="/devops-solutions.php"
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/product-chain.png" width="40px"
                                                alt="Product Development"> Infographics and Visual Content: <i
                                                class="icon icon-arrow"></i> </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Breaking down complex topics into easily digestible, shareable graphics.
                                    </p>
                                </div>

                                <div class="more-services-inner">
                                    <h3><a href="/cloud-computing-solutions.php"
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/product-chain.png" width="40px"
                                                alt="Product Development"> Video Content Strategy <i
                                                class="icon icon-arrow"></i> </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Engaging viewers with high-quality video content that boosts brand recall and
                                        encourages sharing.
                                    </p>
                                </div>

                            </div>
                        </div>

                        <div class="tab-pane fade" id="pills-email" role="tabpanel"
                            aria-labelledby="pills-development-tab">
                            <div class="services-inner bg-blue">
                                <h3><a href="/application-development.php"
                                        class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                        Email Marketing Campaigns <i class="icon icon-arrow"></i> </a>
                                </h3>
                                <p class="font-16 font-primary services-description">
                                    Email marketing remains one of the most effective ways to engage and convert. With
                                    personalized, automated email campaigns, we help you build relationships that drive
                                    conversions. Our process includes:
                                </p>
                            </div>
                            <div class="more-services">
                                <div class="more-services-inner">
                                    <h3><a href="/web-development.php"
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/product-chain.png" width="40px"
                                                alt="Product Development"> Segmentation and Targeting <i
                                                class="icon icon-arrow"></i> </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Reaching the right audience with the right message.
                                    </p>
                                </div>

                                <div class="more-services-inner">

                                    <h3><a href="/mvp-development.php"
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/product-chain.png" width="40px"
                                                alt="Product Development">A/B Testing <i class="icon icon-arrow"></i>
                                        </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Optimizing subject lines, layouts, and CTAs to maximize open and conversion
                                        rates.
                                    </p>
                                </div>

                                <div class="more-services-inner">
                                    <h3><a href="/mobile-app-development.php"
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/product-chain.png" width="40px"
                                                alt="Product Development"> Automated Drip Campaigns <i
                                                class="icon icon-arrow"></i> </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Setting up email series that nurture leads over time, keeping your brand
                                        top-of-mind.
                                    </p>
                                </div>

                            </div>
                        </div>


                        <div class="tab-pane fade" id="pills-marketing" role="tabpanel"
                            aria-labelledby="pills-development-tab">
                            <div class="services-inner bg-blue">
                                <h3><a href="/application-development.php"
                                        class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                        Marketing Automation <i class="icon icon-arrow"></i> </a>
                                </h3>
                                <p class="font-16 font-primary services-description">
                                    Time-saving marketing automation ensures consistent engagement without added manual
                                    effort. Through our automation tools, we:
                                </p>
                            </div>
                            <div class="more-services">
                                <div class="more-services-inner">
                                    <h3><a href="/web-development.php"
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/product-chain.png" width="40px"
                                                alt="Product Development"> Streamline Campaigns <i
                                                class="icon icon-arrow"></i> </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Implement consistent email, social, and content campaigns across channels.
                                    </p>
                                </div>
                                <div class="more-services-inner">
                                    <h3><a href="/web-development.php"
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/product-chain.png" width="40px"
                                                alt="Product Development"> Track User Behavior <i
                                                class="icon icon-arrow"></i> </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Adjust strategies based on user actions and preferences.
                                    </p>
                                </div>
                                <div class="more-services-inner">
                                    <h3><a href="/web-development.php"
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/product-chain.png" width="40px"
                                                alt="Product Development"> Boost ROI <i class="icon icon-arrow"></i>
                                        </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Improve conversion rates by targeting prospects at ideal times with ideal
                                        messaging.
                                    </p>
                                </div>
                            </div>
                        </div>


                        <div class="tab-pane fade" id="pills-on-page" role="tabpanel"
                            aria-labelledby="pills-on-page-tab">
                            <div class="services-inner bg-blue">
                                <h3><a href="/application-development.php"
                                        class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                        ON-Page & OFF-Page
                                        Optimization <i class="icon icon-arrow"></i> </a>
                                </h3>
                                <p class="font-16 font-primary services-description">
                                    Our comprehensive SEO service includes both on-page and off-page optimization:
                                </p>
                            </div>
                            <div class="more-services">
                                <div class="more-services-inner">
                                    <h3><a href="/web-development.php"
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/product-chain.png" width="40px"
                                                alt="Product Development"> On-Page Optimization <i
                                                class="icon icon-arrow"></i> </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Ensuring each page is fully optimized for keywords, speed, and user experience.
                                    </p>
                                </div>
                                <div class="more-services-inner">
                                    <h3><a href="/web-development.php"
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/product-chain.png" width="40px"
                                                alt="Product Development"> Off-Page Optimization <i
                                                class="icon icon-arrow"></i> </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Building high-quality backlinks and partnerships that enhance your site’s
                                        credibility and rankings.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="pills-analytics" role="tabpanel"
                            aria-labelledby="pills-analytics-tab">
                            <div class="services-inner bg-blue">
                                <h3><a href="/application-development.php"
                                        class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                        Analytics and Performance
                                        Tracking<i class="icon icon-arrow"></i> </a>
                                </h3>
                                <p class="font-16 font-primary services-description">
                                    We believe in making data-driven decisions. Our analytics services offer:
                                </p>
                            </div>
                            <div class="more-services">
                                <div class="more-services-inner">
                                    <h3><a href="/web-development.php"
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/product-chain.png" width="40px"
                                                alt="Product Development"> Advanced Reporting <i
                                                class="icon icon-arrow"></i> </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Analyzing the performance of every campaign and channel.
                                    </p>
                                </div>
                                <div class="more-services-inner">
                                    <h3><a href="/web-development.php"
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/product-chain.png" width="40px"
                                                alt="Product Development"> Real-Time Insights <i
                                                class="icon icon-arrow"></i> </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Access to data that helps adjust strategies for improved outcomes.
                                    </p>
                                </div>
                                <div class="more-services-inner">
                                    <h3><a href="/web-development.php"
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/product-chain.png" width="40px"
                                                alt="Product Development"> Conversion Tracking <i
                                                class="icon icon-arrow"></i> </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Ensuring each step in your customer journey is optimized for the best possible
                                        results.
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>