<section class="section-top" style="background: #fe0000;  background-size:cover; background-position: center center;">
    <div class="container">
        <div class="col-lg-12 col-sm-12 col-xs-12 text-center">
            <div class="section-top-title">
                <h1>Web Technologie's</h1>
            </div><!-- //.HERO-TEXT -->
        </div><!--- END COL -->
    </div><!--- END CONTAINER -->
</section>
<section class="ptb-30">
    <div class="container-fluid mi-container">
        <div class="row align-items-md-center">
            <div class="col-md-12 text-center section-title">
                <h2 class="font-40 poppins-medium font-primary" style="max-width: 1080px; margin: 0 auto;">
                    Marketing Solutions for Web Technologies
                </h2>
                <div class="mx-auto font-16" style="max-width: 982px">
                    <p class="font-primary">
                        Digital Mythri combines creativity and technical expertise to deliver dynamic web technologies.
                        From stunning designs to multimedia integration, we help you create a digital presence that
                        resonates with your audience.
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="modern-it-services home-page">
                    <ul class="nav nav-pills flex-nowrap" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link font-16 poppins-medium active" id="pills-website-design-tab"
                                data-bs-toggle="pill" data-bs-target="#pills-website-design" type="button" role="tab"
                                aria-controls="pills-website-design" aria-selected="true">Website Design</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link font-16 poppins-medium" id="pills-website-programming-tab"
                                data-bs-toggle="pill" data-bs-target="#pills-website-programming" type="button"
                                role="tab" aria-controls="pills-website-programming" aria-selected="false">Website
                                Programming</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link font-16 poppins-medium" id="pills-custom-maps-tab"
                                data-bs-toggle="pill" data-bs-target="#pills-custom-maps" type="button" role="tab"
                                aria-controls="pills-custom-maps" aria-selected="false">Custom Maps</button>
                        </li>

                        <li class="nav-item" role="presentation">
                            <button class="nav-link font-16 poppins-medium" id="pills-market-research-tab"
                                data-bs-toggle="pill" data-bs-target="#pills-market-research" type="button" role="tab"
                                aria-controls="pills-market-research" aria-selected="false">Market Research</button>
                        </li>

                        <li class="nav-item" role="presentation">
                            <button class="nav-link font-16 poppins-medium" id="pills-ecommerce-tab"
                                data-bs-toggle="pill" data-bs-target="#pills-ecommerce" type="button" role="tab"
                                aria-controls="pills-ecommerce" aria-selected="false">E-commerce Websites</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link font-16 poppins-medium" id="pills-logo-design-tab"
                                data-bs-toggle="pill" data-bs-target="#pills-logo-design" type="button" role="tab"
                                aria-controls="pills-logo-design" aria-selected="false">Logo Design</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link font-16 poppins-medium" id="pills-graphic-design-tab"
                                data-bs-toggle="pill" data-bs-target="#pills-graphic-design" type="button" role="tab"
                                aria-controls="pills-graphic-design" aria-selected="false">Graphic Design</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link font-16 poppins-medium" id="pills-photos-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-photos" type="button" role="tab" aria-controls="pills-photos"
                                aria-selected="false">Photos and Videos</button>
                        </li>

                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade active show" id="pills-website-design" role="tabpanel"
                            aria-labelledby="pills-website-design-tab">
                            <div class="services-inner  bg-pink">
                                <h3
                                    class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                    <img src="../../../assets/img/icons/demand.png" width="50px" alt="Demand">
                                    Website Design
                                </h3>
                                <p class="font-16 font-primary services-description">
                                    Our web designs are visually appealing and optimized for performance:
                                </p>
                            </div>
                            <div class="more-services">
                                <div class="more-services-inner">
                                    <h3><a href=""
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/artificial-intelligence.png"
                                                width="50px" alt="AI">
                                            Customizable Layouts <i class="icon icon-arrow"></i> </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Reflecting your brand identity and adapting to changing needs.
                                    </p>
                                </div>
                                <div class="more-services-inner">
                                    <h3><a href=""
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/artificial-intelligence.png"
                                                width="50px" alt="AI">
                                            SEO-Friendly Structures <i class="icon icon-arrow"></i> </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Ensuring search engines can easily navigate your site.
                                    </p>
                                </div>
                                <div class="more-services-inner">
                                    <h3><a href=""
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/artificial-intelligence.png"
                                                width="50px" alt="AI">
                                            Mobile Responsiveness <i class="icon icon-arrow"></i> </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Delivering a consistent experience on every device.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="pills-website-programming" role="tabpanel"
                            aria-labelledby="pills-website-programming-tab">
                            <div class="services-inner  bg-purple">
                                <h3><a href="/ai-ml-development-services.php"
                                        class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                        <img src="../../../assets/img/icons/automated.png" width="50px"
                                            alt="Automation"> Website Programming <i class="icon icon-arrow"></i> </a>
                                </h3>
                                <p class="font-16 font-primary services-description">
                                    Backed by strong programming skills, we ensure your website is:
                                </p>
                            </div>
                            <div class="more-services">
                                <div class="more-services-inner">
                                    <h3><a href=""
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/artificial-intelligence.png"
                                                width="50px" alt="AI">
                                            Fast and Secure <i class="icon icon-arrow"></i> </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Providing a smooth, reliable experience for users.
                                    </p>
                                </div>
                                <div class="more-services-inner">
                                    <h3><a href=""
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/artificial-intelligence.png"
                                                width="50px" alt="AI">
                                            Highly Functional <i class="icon icon-arrow"></i> </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Tailoring features to suit your business needs.
                                    </p>
                                </div>
                                <div class="more-services-inner">
                                    <h3><a href=""
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/artificial-intelligence.png"
                                                width="50px" alt="AI">
                                            Optimized for Growth <i class="icon icon-arrow"></i> </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Built to handle increased traffic as your brand expands.
                                    </p>
                                </div>
                            </div>

                        </div>


                        <div class="tab-pane fade" id="pills-custom-maps" role="tabpanel"
                            aria-labelledby="pills-custom-maps-tab">
                            <div class="services-inner  bg-green">
                                <h3>
                                    <a href="/digital-transformation-services.php"
                                        class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                        <img src="../../../assets/img/icons/automated.png" width="50px"
                                            alt="Automation"> Custom Maps
                                        <i class="icon icon-arrow"></i>
                                    </a>
                                </h3>
                                <p class="font-16 font-primary services-description">
                                    For businesses with multiple locations, custom maps offer users:
                                </p>
                            </div>
                            <div class="more-services">
                                <div class="more-services-inner">
                                    <h3><a href=""
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/artificial-intelligence.png"
                                                width="50px" alt="AI">
                                            Easy Navigation <i class="icon icon-arrow"></i> </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Helping customers locate branches or service points.
                                    </p>
                                </div>
                                <div class="more-services-inner">
                                    <h3><a href=""
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/artificial-intelligence.png"
                                                width="50px" alt="AI">
                                            Enhanced Engagement <i class="icon icon-arrow"></i> </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Offering interactive maps tailored to your audience.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="pills-market-research" role="tabpanel"
                            aria-labelledby="pills-market-research-tab">
                            <div class="services-inner  bg-green">
                                <h3>
                                    <a href="/digital-transformation-services.php"
                                        class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                        <img src="../../../assets/img/icons/automated.png" width="50px"
                                            alt="Automation"> Market Research
                                        <i class="icon icon-arrow"></i>
                                    </a>
                                </h3>
                                <p class="font-16 font-primary services-description">
                                    Informed decisions begin with data. We provide:
                                </p>
                            </div>
                            <div class="more-services">
                                <div class="more-services-inner">
                                    <h3><a href=""
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/artificial-intelligence.png"
                                                width="50px" alt="AI">
                                            In-Depth Research <i class="icon icon-arrow"></i> </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Helping you understand market trends and competitor positioning.
                                    </p>
                                </div>
                                <div class="more-services-inner">
                                    <h3><a href=""
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/artificial-intelligence.png"
                                                width="50px" alt="AI">
                                            Target Audience Insights <i class="icon icon-arrow"></i> </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Identifying and segmenting potential customers.
                                    </p>
                                </div>
                                <div class="more-services-inner">
                                    <h3><a href=""
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/artificial-intelligence.png"
                                                width="50px" alt="AI">
                                            Actionable Recommendations <i class="icon icon-arrow"></i> </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Aligning strategies with market opportunities.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="pills-ecommerce" role="tabpanel"
                            aria-labelledby="pills-ecommerce-tab">
                            <div class="services-inner  bg-green">
                                <h3>
                                    <a href="/digital-transformation-services.php"
                                        class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                        <img src="../../../assets/img/icons/automated.png" width="50px"
                                            alt="Automation"> E-commerce Websites
                                        <i class="icon icon-arrow"></i>
                                    </a>
                                </h3>
                                <p class="font-16 font-primary services-description">
                                    We create e-commerce sites that drive sales:
                                </p>
                            </div>
                            <div class="more-services">
                                <div class="more-services-inner">
                                    <h3><a href=""
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/artificial-intelligence.png"
                                                width="50px" alt="AI">
                                            Easy Navigation <i class="icon icon-arrow"></i> </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Ensuring a user-friendly shopping experience.
                                    </p>
                                </div>
                                <div class="more-services-inner">
                                    <h3><a href=""
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/artificial-intelligence.png"
                                                width="50px" alt="AI">
                                            Optimized Product Pages <i class="icon icon-arrow"></i> </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Helping users find what they’re looking for quickly.
                                    </p>
                                </div>
                                <div class="more-services-inner">
                                    <h3><a href=""
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/artificial-intelligence.png"
                                                width="50px" alt="AI">
                                            Secure Checkouts <i class="icon icon-arrow"></i> </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Giving customers peace of mind with trusted payment systems.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-logo-design" role="tabpanel"
                            aria-labelledby="pills-logo-design-tab">
                            <div class="services-inner  bg-green">
                                <h3>
                                    <a href="/digital-transformation-services.php"
                                        class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                        <img src="../../../assets/img/icons/automated.png" width="50px"
                                            alt="Automation"> Logo Design
                                        <i class="icon icon-arrow"></i>
                                    </a>
                                </h3>
                                <p class="font-16 font-primary services-description">
                                    Your logo is the face of your brand. We create logos that are:
                                </p>
                            </div>
                            <div class="more-services">
                                <div class="more-services-inner">
                                    <h3><a href=""
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/artificial-intelligence.png"
                                                width="50px" alt="AI">
                                            Distinctive <i class="icon icon-arrow"></i> </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Making a lasting impression on your audience.
                                    </p>
                                </div>
                                <div class="more-services-inner">
                                    <h3><a href=""
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/artificial-intelligence.png"
                                                width="50px" alt="AI">
                                            Versatile <i class="icon icon-arrow"></i> </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Looking great on any medium, from social media to product packaging.
                                    </p>
                                </div>
                                <div class="more-services-inner">
                                    <h3><a href=""
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/artificial-intelligence.png"
                                                width="50px" alt="AI">
                                            Memorable <i class="icon icon-arrow"></i> </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Communicating your brand identity effectively.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-graphic-design" role="tabpanel"
                            aria-labelledby="pills-graphic-design-tab">
                            <div class="services-inner  bg-green">
                                <h3>
                                    <a href="/digital-transformation-services.php"
                                        class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                        <img src="../../../assets/img/icons/automated.png" width="50px"
                                            alt="Automation"> Graphic Design
                                        <i class="icon icon-arrow"></i>
                                    </a>
                                </h3>
                                <p class="font-16 font-primary services-description">
                                    Our graphic design services enhance your visual storytelling:
                                </p>
                            </div>
                            <div class="more-services">
                                <div class="more-services-inner">
                                    <h3><a href=""
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/artificial-intelligence.png"
                                                width="50px" alt="AI">
                                            Brand Consistency <i class="icon icon-arrow"></i> </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Creating visuals that align with your identity.
                                    </p>
                                </div>
                                <div class="more-services-inner">
                                    <h3><a href=""
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/artificial-intelligence.png"
                                                width="50px" alt="AI">
                                            High-Quality Imagery <i class="icon icon-arrow"></i> </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Engaging users with compelling visuals.
                                    </p>
                                </div>
                                <div class="more-services-inner">
                                    <h3><a href=""
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/artificial-intelligence.png"
                                                width="50px" alt="AI">
                                            Adaptable Designs <i class="icon icon-arrow"></i> </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Tailored for both digital and print media.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-photos" role="tabpanel" aria-labelledby="pills-photos-tab">
                            <div class="services-inner  bg-green">
                                <h3>
                                    <a href="/digital-transformation-services.php"
                                        class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                        <img src="../../../assets/img/icons/automated.png" width="50px"
                                            alt="Automation"> Photos and Videos
                                        <i class="icon icon-arrow"></i>
                                    </a>
                                </h3>
                                <p class="font-16 font-primary services-description">
                                    Bring your brand to life with professional photos and videos:
                                </p>
                            </div>
                            <div class="more-services">
                                <div class="more-services-inner">
                                    <h3><a href=""
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/artificial-intelligence.png"
                                                width="50px" alt="AI">
                                            Engaging Visuals <i class="icon icon-arrow"></i> </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Capturing your brand’s story in a way that resonates.
                                    </p>
                                </div>
                                <div class="more-services-inner">
                                    <h3><a href=""
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/artificial-intelligence.png"
                                                width="50px" alt="AI">
                                            High Production Standards <i class="icon icon-arrow"></i> </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Ensuring top-notch quality for maximum impact.
                                    </p>
                                </div>
                                <div class="more-services-inner">
                                    <h3><a href=""
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/artificial-intelligence.png"
                                                width="50px" alt="AI">
                                            Social Media Optimization <i class="icon icon-arrow"></i> </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Creating visuals designed for high engagement.
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>