<section class="section-top" style="background: #fe0000;  background-size:cover; background-position: center center;">
    <div class="container">
        <div class="col-lg-12 col-sm-12 col-xs-12 text-center">
            <div class="section-top-title">
                <h1>Web Development</h1>
            </div><!-- //.HERO-TEXT -->
        </div><!--- END COL -->
    </div><!--- END CONTAINER -->
</section>
<section class="ptb-30">
    <div class="container-fluid mi-container">
        <div class="row align-items-md-center">
            <div class="col-md-12 text-center section-title">
                <h2 class="font-40 poppins-medium font-primary" style="max-width: 1080px; margin: 0 auto;">
                    Marketing Solutions for Web Development
                </h2>
                <div class="mx-auto font-16" style="max-width: 982px">
                    <p class="font-primary">
                        Web development is about more than building a website—it’s about creating an online experience
                        that engages, informs, and converts. At Digital Mythri, our developers bring your vision to life
                        with feature-rich websites designed to make a lasting impression.
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="modern-it-services home-page">
                    <ul class="nav nav-pills flex-nowrap" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link font-16 poppins-medium active" id="pills-Wireframes-tab"
                                data-bs-toggle="pill" data-bs-target="#pills-Wireframes" type="button" role="tab"
                                aria-controls="pills-Wireframes" aria-selected="true">Wireframes & Mockups</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link font-16 poppins-medium" id="pills-Customizable-tab"
                                data-bs-toggle="pill" data-bs-target="#pills-Customizable" type="button" role="tab"
                                aria-controls="pills-Customizable" aria-selected="false">Highly Customizable Web
                                Presence</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link font-16 poppins-medium" id="pills-Integrations-tab"
                                data-bs-toggle="pill" data-bs-target="#pills-Integrations" type="button" role="tab"
                                aria-controls="pills-Integrations" aria-selected="false">E-commerce & Social Media
                                Integrations</button>
                        </li>

                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade active show" id="pills-Wireframes" role="tabpanel"
                            aria-labelledby="pills-Wireframes-tab">
                            <div class="services-inner  bg-pink">
                                <h3
                                    class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                    <img src="../../../assets/img/icons/demand.png" width="50px" alt="Demand">
                                    Wireframes & Mockups
                                </h3>
                                <p class="font-16 font-primary services-description">
                                    We start with wireframes and mockups to ensure:
                                </p>
                            </div>

                            <div class="more-services">
                                <div class="more-services-inner">
                                    <h3><a href=""
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/artificial-intelligence.png"
                                                width="50px" alt="AI">
                                            Clear Navigation <i class="icon icon-arrow"></i> </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Organizing content logically.
                                    </p>
                                </div>
                                <div class="more-services-inner">
                                    <h3><a href=""
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/artificial-intelligence.png"
                                                width="50px" alt="AI">
                                            Efficient Workflow <i class="icon icon-arrow"></i> </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Enabling a streamlined development process.
                                    </p>
                                </div>
                                <div class="more-services-inner">
                                    <h3><a href=""
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/artificial-intelligence.png"
                                                width="50px" alt="AI">
                                            Enhanced Usability <i class="icon icon-arrow"></i> </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Prioritizing user experience from the start.
                                    </p>
                                </div>
                            </div>


                        </div>

                        <div class="tab-pane fade" id="pills-Customizable" role="tabpanel"
                            aria-labelledby="pills-Customizable-tab">
                            <div class="services-inner  bg-purple">
                                <h3><a href="/ai-ml-development-services.php"
                                        class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                        <img src="../../../assets/img/icons/automated.png" width="50px"
                                            alt="Automation"> Highly Customizable Web Presence <i
                                            class="icon icon-arrow"></i> </a>
                                </h3>
                                <p class="font-16 font-primary services-description">
                                    Our websites adapt to your needs with:
                                </p>
                            </div>
                            <div class="more-services">
                                <div class="more-services-inner">
                                    <h3><a href=""
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/artificial-intelligence.png"
                                                width="50px" alt="AI">
                                            Modular Design <i class="icon icon-arrow"></i> </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Allowing for easy updates and new features.
                                    </p>
                                </div>
                                <div class="more-services-inner">
                                    <h3><a href=""
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/artificial-intelligence.png"
                                                width="50px" alt="AI">
                                            Scalable Architecture <i class="icon icon-arrow"></i> </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Preparing your site for future growth.
                                    </p>
                                </div>
                                <div class="more-services-inner">
                                    <h3><a href=""
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/artificial-intelligence.png"
                                                width="50px" alt="AI">
                                            Custom Functionality <i class="icon icon-arrow"></i> </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Built to serve specific business goals.
                                    </p>
                                </div>
                            </div>
                        </div>


                        <div class="tab-pane fade" id="pills-Integrations" role="tabpanel"
                            aria-labelledby="pills-Integrations-tab">
                            <div class="services-inner  bg-green">
                                <h3>
                                    <a href="/digital-transformation-services.php"
                                        class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                        <img src="../../../assets/img/icons/automated.png" width="50px"
                                            alt="Automation"> E-commerce & Social Media Integrations
                                        <i class="icon icon-arrow"></i>
                                    </a>
                                </h3>
                                <p class="font-16 font-primary services-description">
                                    We integrate seamlessly with e-commerce platforms and social media channels:
                                </p>
                            </div>
                            <div class="more-services">
                                <div class="more-services-inner">
                                    <h3><a href=""
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/artificial-intelligence.png"
                                                width="50px" alt="AI">
                                            Shop and Share <i class="icon icon-arrow"></i> </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Allowing users to browse products and share their experiences.
                                    </p>
                                </div>
                                <div class="more-services-inner">
                                    <h3><a href=""
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/artificial-intelligence.png"
                                                width="50px" alt="AI">
                                            Conversion Tracking <i class="icon icon-arrow"></i> </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Linking conversions to social media campaigns.
                                    </p>
                                </div>
                                <div class="more-services-inner">
                                    <h3><a href=""
                                            class="font-26 link-black detail__block-title font-26 poppins-medium font-primary services-title mb-2 mb-md-3">
                                            <img src="../../../assets/img/icons/artificial-intelligence.png"
                                                width="50px" alt="AI">
                                            Customer Insights <i class="icon icon-arrow"></i> </a>
                                    </h3>
                                    <p class="font-16 font-primary services-description">
                                        Gathering data to refine future strategies.
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>