<!-- START NAVBAR -->
<div id="navigation" class="navbar-light bg-faded site-navigation menu_dropdown">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-3 col-sm-4">
                <div class="site-logo">
                    <a routerLink="/home" class="header__logo">
                        <img loading="lazy" src="../../../assets/img/logo 160x65 --01 white-01.svg"
                            alt="Mind Inventory logo" width="250" height="100" />
                    </a>
                </div>
            </div><!--- END Col -->
            <div class="col-lg-10 col-md-9 col-sm-8">
                <div class="header_right">
                    <nav id="main-menu" class="ml-auto">
                        <ul>
                            <li><a routerLink="/home"> <i class="fa fa-home"></i> Home</a>

                            </li>
                            <li><a class="" routerLink="/about"><i class="fa fa-briefcase"></i> About US</a>

                            </li>
                            <li><a routerLink="/"><i class="fa fa-cog"></i> Services</a>
                                <ul class="sub-menu">
                                    <li><a routerLink="/digitalMerketing"><i class="fa fa-long-arrow-right"></i> Digital
                                            Marketing</a></li>
                                    <li><a routerLink="/softwareDevelopment"><i class="fa fa-long-arrow-right"></i>
                                            Software Development</a></li>
                                    <li><a routerLink="/web-technology"><i class="fa fa-long-arrow-right"></i>
                                            Web Technology's</a></li>
                                    <li><a routerLink="/web-development"><i class="fa fa-long-arrow-right"></i>
                                            Web Development</a></li>

                                </ul>
                            </li>
                            <li><a routerLink="/"><i class="fa fa-industry"></i> Industries</a>
                                <ul class="sub-menu">
                                    <li><a routerLink="/real-estate"><i class="fa fa-long-arrow-right"></i> Real Estate
                                        </a></li>
                                    <li><a routerLink="/education"><i class="fa fa-long-arrow-right"></i> Education</a>
                                    </li>
                                    <li><a routerLink="/beauty&wellness"><i class="fa fa-long-arrow-right"></i> Beauty &
                                            Wellness
                                        </a></li>
                                    <li><a routerLink="/healthcare"><i class="fa fa-long-arrow-right"></i> Health Care
                                        </a></li>
                                    <li><a routerLink="/tourism&hospitality"><i class="fa fa-long-arrow-right"></i>
                                            Tourism and
                                            Hospitality</a>
                                    </li>
                                    <li><a routerLink="/finance&fintech"><i class="fa fa-long-arrow-right"></i> Finance
                                            and Fintech</a>
                                    </li>
                                    <li><a routerLink="/e-commerce"><i class="fa fa-long-arrow-right"></i>
                                            E-commerce</a></li>
                                    <li><a routerLink="/jewellery"><i class="fa fa-long-arrow-right"></i> Jewellery and
                                            Gift
                                            Articles</a></li>
                                    <li><a routerLink="/FMCG"><i class="fa fa-long-arrow-right"></i> FMCG</a></li>
                                    <li><a routerLink="/tech-startup"><i class="fa fa-long-arrow-right"></i> Tech
                                            Start-ups</a></li>
                                </ul>
                            </li>
                            <li><a routerLink="/blog"> <i class="fa fa-rss"></i> Blog</a>
                            <li><a routerLink="/contactUs"><i class="fa fa-recycle"></i> Contact Us</a>
                            </li>
                            <li>
                                <a href="https://digitalmythricode.s3.ap-southeast-2.amazonaws.com/Digital_Mythri.pdf"
                                    class="header__nav-link" download>
                                    <span style="color: #6c757d;"><i class="fa fa-download"></i> Download
                                        Brochure</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <div id="mobile_menu"></div>
                </div>
            </div><!--- END COL -->
        </div><!--- END ROW -->
    </div><!--- END CONTAINER -->
</div>
<!-- END NAVBAR -->